---
import ItemActividad from "../ItemActividad.astro";
import Section from "../Section.astro";

interface Actividad {
    title: string;
    subtitle: string;
    src: string;
  }
interface Props {
  actividades: Actividad[];
}
const { actividades,} = Astro.props;

---
<script>
  import { Navigation, Pagination,Autoplay } from 'swiper/modules';
  import Swiper from 'swiper';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';
  // init Swiper:
  const swiper = new Swiper('.swiper', {
    // configure Swiper to use modules
    modules: [Navigation, Pagination,Autoplay],
    slidesPerView: 1,
    watchSlidesProgress: true,
    breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
        1500: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
    },
    spaceBetween: 30,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
    },
    loop: true,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
      }
  });
</script>
<Section
  title="Actividades"
  subtitle=""
  color="black"
  background="white"
  id="actividades",
  showFooterContent={true}
>

  <div slot="content" >

    <div class="swiper h-full ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {actividades.map((item,index) => (
          <div class="swiper-slide">
          <ItemActividad  title={item.title} color="" reverse={index%2===0?true:false}  subtitle={item.subtitle} id="" imagenActividad={{src:item.src}} ></ItemActividad>
          </div>
        ))}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  

   



  <!--<img
    slot="background"
    alt="Model 3"
    class="h-full w-full object-cover object-center"
    src="maloca-hamacas.webp"
    id="bg-image-model3"
  />-->
</Section>

