---



const { } = Astro.props;

---

<section id="contacto" class="h-full w-screen text-center relative pb-16 px-4 md:px-8 lg:px-16 grid place-content-center">
  <h2 class="text-lime-800 py-12 text-[40px] sm:text-[80px] lg:text-[100px] font-medium font-['PermanentMarker'] headear-title ">
    Contacto
  </h2>

    <div class="w-full max-w-sm space-y-2 text-left ">
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="name"
        >
          Nombre
        </label>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="name"
          placeholder="Ingresa tu nombre"
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="email"
        >
          Email
        </label>
        <input
          type="email"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="email"
          placeholder="Ingresa tu email"
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="message"
        >
          Message
        </label>
        <textarea
          class="flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[100px]"
          id="message"
          placeholder="Enter your message"
        ></textarea>
      </div>
      <button
        class="inline-flex items-center text-white justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
        type="submit"
      >
        Enviar
      </button>
    </div>
    <div class="grid items-center sm:grid-cols-2 pt-4">
      <div class="space-y-3 text-left">
        <p class="text-md lg:text-2xl font-semibold">Whatsapp </p>
        <p class="text-md lg:text-2xl ">(+57) 3148053463 </p>
        <p class="text-md lg:text-2xl font-semibold">Email</p>
        <p class="text-md lg:text-2xl ">taitajosemorayage@gmail.com</p>
      </div>
    </div>
</section>
