---
import type { ImageMetadata } from "astro";
import ItemActividad from "../ItemActividad.astro";


interface Product {
    title: string;
    subtitle: string;
    image: ImageMetadata;
  }
interface Props {
  products: Product[];
}
const { products,} = Astro.props;

---

<section
 id="tienda",
  class="bg-white h-full w-screen text-center relative p-4 md:px-8 lg:px-16"
  data-header-color="white" data-header-background-color="#00000000"
>

      <h2 class="text-lime-800 py-12 text-[40px] sm:text-[80px] lg:text-[100px] font-medium font-['PermanentMarker'] headear-title ">
        Tienda Ancestral
      </h2>


    <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 sm:gap-4">
      {products.map((item,index) => (
        <ItemActividad  title={item.title} color=""  subtitle={item.subtitle} id="" imagenActividad={item.image} ></ItemActividad>
      ))}
    </div>

</section>

