---
import Section from "../Section.astro"
---

<Section
  headerBackgroundColor="#00000040"
  titleJustify="center"
  title="Camino Ancestral"
  subtitle=""
  color="white"
>
  <div slot="footer">
    <a
      class="border-[1px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors min-w-[10%]"
      href="#"
    >
      Tienda</a
    >
      <a
      class="border-[1px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors min-w-[10%]"
      href="#"
    >
      Contacto</a
    >
  </div>
 <video
    playsinline
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="video.mp4"></video> 

</Section>
