---



const { } = Astro.props;

---

<section id="contacto" class="h-full w-screen text-center flex flex-col p-4 md:px-8 lg:px-16">
  <h2 class="text-lime-800 py-12 text-[40px] sm:text-[80px] lg:text-[100px] font-medium font-['PermanentMarker'] headear-title ">
    Musica Medicina
  </h2>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-4">
    <iframe class="w-full h-80"  src="https://www.youtube.com/embed/QHqFA8BU7Do?si=7Ly6M9LsZ0eY8jd9" frameborder="0" allowfullscreen></iframe>
    <iframe class="w-full hidden sm:block h-80"  src="https://www.youtube.com/embed/2sjCCFvHb8Y?si=If9vVP36FKyXx1FC" frameborder="0" allowfullscreen></iframe>
    <iframe class="w-full hidden lg:block h-80"  src="https://www.youtube.com/embed/ZuDP4mCMWrI?si=545SJY0rlhMCNHvR" frameborder="0" allowfullscreen></iframe>
   </div>
   <a class="my-4 p-4 w-82 self-center bg-primary rounded-md text-white text-xl hover:bg-gray-400" href="https://www.youtube.com/@taitajosemora" target="_blank"> Ver Canal Youtube</a>
</section>
