---
import LandingHeader from "../components/LandingHeader.astro";
import Actividades from "../components/sections/Actividades.astro";
import CaminoAncestral from "../components/sections/CaminoAncestral.astro";
import VideoSection from "../components/sections/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import ActivityYage from "../assets/images/actividades/yage.jpg"
import Retiros from "../assets/images/actividades/retiros.jpg"
import Abeja from "../assets/images/actividades/abeja.jpg"
import Kamboo from "../assets/images/actividades/kamboo.jpg"
import Mambe from "../assets/images/actividades/mambe.jpg"
import Senderismo from "../assets/images/actividades/senderismo.jpg"
import Musica from "../assets/images/actividades/musica.jpg"
import Arte from "../assets/images/actividades/arte.jpg"
import Ninos from "../assets/images/actividades/ninos.jpg"
import HeroSection from "../components/sections/HeroSection.astro";
let actividades=[
  {
    title:"Ceremonia Ayahuasca",
    subtitle:"Planta que Dios dejo para aprender a vivir",
    image:ActivityYage
  },
  {
    title:"Retiros Espitiruales",
    subtitle:"aventura por el bosque",
    image:Retiros
  },
  {
    title:"Apiterapia",
    subtitle:"aventura por el bosque",
    image:Abeja
  },
  {
    title:"Kamboo",
    subtitle:"aventura por el bosque",
    image:Kamboo
  },  
  {
    title:"Mambe",
    subtitle:"aventura por el bosque",
    image:Mambe
  },
  {
    title:"Senderismo",
    subtitle:"aventura por el bosque",
    image:Senderismo
  },
  {
    title:"Musica Medicina",
    subtitle:"aventura por el bosque",
    image:Musica
  },
  {
    title:"Arte",
    subtitle:"aventura por el bosque",
    image:Arte
  },
  {
    title:"Integracion con los niños de la comunidad",
    subtitle:"aventura por el bosque",
    image:Ninos
  },
]
---
<Layout title="Camino Ancestral - Medicina para el Alma">
  <LandingHeader  />

  <main
    class="w-full overflow-y-auto overflow-x-hidden scroll-smooth"
  >
      <HeroSection />
      <Actividades actividades={actividades} />
      <CaminoAncestral />
  </main>
</Layout>
      