---
import LandingHeader from "../components/LandingHeader.astro";
import Actividades from "../components/sections/Actividades.astro";
import CaminoAncestral from "../components/sections/CaminoAncestral.astro";
import Layout from "../layouts/Layout.astro";
import ActivityYage from "../assets/images/actividades/yage.jpg"
import Retiros from "../assets/images/actividades/retiros.jpg"
import Abeja from "../assets/images/actividades/abeja.jpg"
import Kamboo from "../assets/images/actividades/kamboo.jpg"
import Mambe from "../assets/images/actividades/mambe.jpg"
import Senderismo from "../assets/images/actividades/senderismo.jpg"
import Musica from "../assets/images/actividades/musica.jpg"
import Arte from "../assets/images/actividades/arte.jpg"
import Ninos from "../assets/images/actividades/ninos.png"
import PMambe from "../assets/images/productos/mambe.jpeg"
import Ambil from "../assets/images/productos/ambil.jpeg"
import Rape from "../assets/images/productos/rape.jpeg"
import Oleo from "../assets/images/productos/oleo.png"
import Collares from "../assets/images/productos/collares.jpeg"
import Manillas from "../assets/images/productos/manillas.jpg"
import HeroSection from "../components/sections/HeroSection.astro";
import Tienda from "../components/sections/Tienda.astro";
import FooterMenu from "../components/FooterMenu.astro";
import Contacto from "../components/sections/Contacto.astro";
import Youtube from "../components/sections/Youtube.astro";
let actividades=[
  {
    title:"Ceremonia Ayahuasca",
    subtitle:"Planta que Dios dejo para aprender a vivir.",
    image:ActivityYage
  },
  {
    title:"Retiros Espitiruales",
    subtitle:"Espacios de tiempo dedicados a la búsqueda interior.",
    image:Retiros
  },
  {
    title:"Apiterapia",
    subtitle:"Aplicar abejas para prevenir y curar enfermedades.",
    image:Abeja
  },
  {
    title:"Kamboo",
    subtitle:"Veneno de rana para limpiar el cuerpo y el alma.",
    image:Kamboo
  },  
  {
    title:"Mambe",
    subtitle:"Medicina ancestral de la coca.",
    image:Mambe
  },
  {
    title:"Senderismo",
    subtitle:"Aventura por el bosque.",
    image:Senderismo
  },
  {
    title:"Musica Medicina",
    subtitle:"Sonidos, cantos e instrumentos para armonizar.",
    image:Musica
  },
  {
    title:"Arte",
    subtitle:"Pinturas al estilo realismo magico.",
    image:Arte
  },
  {
    title:"Integracion con los niños.",
    subtitle:"Fomentar la cultura a los niños de la comunidad.",
    image:Ninos
  },
]
let products=[
  {
    title:"Mambe",
    subtitle:"Aclara mente, espiritu y la palabra.",
    image:PMambe
  },
  {
    title:"Ambil",
    subtitle:"Pasta de tabaco, para limpiarse y sanarse.",
    image:Ambil
  },
  {
    title:"Rape",
    subtitle:"Aplicar abejas para prevenir y curar enfermedades.",
    image:Rape
  },
  {
    title:"Manillas",
    subtitle:"Manillas en mostacilla checa.",
    image:Manillas
  },  
  {
    title:"Collares Dama",
    subtitle:"Artesanias en mostacilla checa",
    image:Collares
  },
  {
    title:"Pinturas (diseños ancestral)",
    subtitle:"Se hacen cuadro en oleo.",
    image:Oleo
  }
]
---
<Layout title="Camino Ancestral - Medicina para el Alma">
  <LandingHeader  />

  <main
    class="w-full overflow-y-auto overflow-x-hidden scroll-smooth"
  >
      <HeroSection />
      <CaminoAncestral />
      <Actividades actividades={actividades} />
      <Tienda products={products} />
      <Youtube/>
      <Contacto/>
      <FooterMenu  />
  </main>
</Layout>
      