---
import LandingHeader from "../components/LandingHeader.astro";
import Actividades from "../components/sections/Actividades.astro";
import CaminoAncestral from "../components/sections/CaminoAncestral.astro";
import VideoSection from "../components/sections/VideoSection.astro";
import Layout from "../layouts/Layout.astro";

let actividades=[
  {
    title:"Ceremonia Ayahuasca",
    subtitle:"Planta que Dios dejo para aprender a vivir",
    src:"actividades/yage.jpg"
  },
  {
    title:"Retiros Espitiruales",
    subtitle:"aventura por el bosque",
    src:"actividades/retiros.jpg"
  },
  {
    title:"Apiterapia",
    subtitle:"aventura por el bosque",
    src:"actividades/abeja.jpg"
  },
  {
    title:"Kamboo",
    subtitle:"aventura por el bosque",
    src:"actividades/kamboo.jpg"
  },  
  {
    title:"Mambe",
    subtitle:"aventura por el bosque",
    src:"actividades/mambe.jpg"
  },
  {
    title:"Senderismo",
    subtitle:"aventura por el bosque",
    src:"actividades/senderismo.jpg"
  },
  {
    title:"Musica Medicina",
    subtitle:"aventura por el bosque",
    src:"actividades/musica.jpg"
  },
  {
    title:"Arte",
    subtitle:"aventura por el bosque",
    src:"actividades/arte.jpg"
  },
  {
    title:"Integracion con los niños de la comunidad",
    subtitle:"aventura por el bosque",
    src:"actividades/ninos.jpg"
  },
]
---

<Layout title="Camino Ancestral - Medicina para el Alma">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <VideoSection />
    </div>
    <div class="snap-center">
      <CaminoAncestral />
    </div>
    <div class="snap-center">
      <Actividades actividades={actividades} />
    </div>
    <!--<div class="snap-center">
      <Blog />
    </div>-->
    <section class="fake-section sm:hidden">
      <div class="container">
       
      </div>
    </section>
  </main>
</Layout>
      