---
//import type { Radius } from './Radius';
interface ImagenActividad {
    src: string;
    tl?: number;
    tr?: number;
    br?: number;
    bl?: number; 
 }
interface Props {
  color: string;
  title: string;
  subtitle: string;
  id: string;
  reverse?: boolean|false;
  imagenActividad:ImagenActividad;
}
const { color, title, subtitle, id,imagenActividad,reverse} = Astro.props;
const textColor = `text-${color}`;
---

    <div class="w-80 h-full rounded-md shadow-lg mb-4">
      <img class="w-full h-60 object-cover " src={imagenActividad.src} alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{title}</div>
        <p class="text-gray-700 text-base">
          {subtitle}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>
    </div>


